In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import datetime
from datetime import date, timedelta

In [2]:
#Klang Valley is combine from Selangor, W.P KL and W.P Putrajaya

In [3]:
casedf = pd.read_csv("cases_state.csv")

In [4]:
casedf

,date,state,cases_new,cases_import,cases_recovered,cases_active,cases_cluster,cases_unvax,cases_pvax,cases_fvax,...,cases_0_4,cases_5_11,cases_12_17,cases_18_29,cases_30_39,cases_40_49,cases_50_59,cases_60_69,cases_70_79,cases_80
0,2020-01-25,Johor,4,4,0,4,0,4,0,0,...,0,0,0,0,0,1,0,0,0,0
1,2020-01-25,Kedah,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2020-01-25,Kelantan,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2020-01-25,Melaka,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2020-01-25,Negeri Sembilan,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15371,2022-09-11,Selangor,268,0,771,5556,0,35,0,47,...,13,10,5,67,80,45,21,12,11,4
15372,2022-09-11,Terengganu,26,0,27,428,0,7,0,11,...,3,1,1,5,4,3,0,2,2,5
15373,2022-09-11,W.P. Kuala Lumpur,328,0,479,4501,0,24,1,31,...,9,8,8,113,86,42,35,14,8,5
15374,2022-09-11,W.P. Labuan,2,0,11,41,0,0,1,0,...,0,1,0,0,1,0,0,0,0,0
15375,2022-09-11,W.P. Putrajaya,43,0,27,476,0,2,0,14,...,0,1,3,6,22,6,2,2,0,1

In [5]:
deathdf = pd.read_csv("deaths_state.csv")

In [7]:
deathdf

,date,state,deaths_new,deaths_bid,deaths_new_dod,deaths_bid_dod,deaths_unvax,deaths_pvax,deaths_fvax,deaths_boost,deaths_tat
0,2020-03-17,Johor,1,0,1,0,1,0,0,0,0
1,2020-03-17,Kedah,0,0,0,0,0,0,0,0,0
2,2020-03-17,Kelantan,0,0,0,0,0,0,0,0,0
3,2020-03-17,Melaka,0,0,0,0,0,0,0,0,0
4,2020-03-17,Negeri Sembilan,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
14539,2022-09-11,Selangor,0,0,0,0,0,0,0,0,0
14540,2022-09-11,Terengganu,1,0,0,0,0,0,0,0,4
14541,2022-09-11,W.P. Kuala Lumpur,0,0,0,0,0,0,0,0,0
14542,2022-09-11,W.P. Labuan,0,0,0,0,0,0,0,0,0
14543,2022-09-11,W.P. Putrajaya,0,0,0,0,0,0,0,0,0

In [8]:
vaxdf = pd.read_csv("vax_state.csv")

In [9]:
vaxdf

,date,state,daily_partial,daily_full,daily_booster,daily_booster2,daily,daily_partial_adol,daily_full_adol,daily_booster_adol,...,sinopharm2,sinopharm3,sinopharm4,cansino,cansino3,cansino4,pending1,pending2,pending3,pending4
0,2021-02-24,Johor,2,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2021-02-24,Kedah,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2021-02-24,Kelantan,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2021-02-24,Melaka,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2021-02-24,Negeri Sembilan,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9035,2022-09-11,Selangor,53,147,58,230,488,3,5,5,...,0,0,0,0,0,0,0,0,0,0
9036,2022-09-11,Terengganu,0,1,13,1,15,0,0,1,...,0,0,0,0,0,0,0,0,0,0
9037,2022-09-11,W.P. Kuala Lumpur,23,32,16,147,218,1,0,4,...,0,0,0,0,0,0,0,0,0,0
9038,2022-09-11,W.P. Labuan,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9039,2022-09-11,W.P. Putrajaya,0,2,0,3,5,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
casedeathdf = pd.merge(casedf,deathdf, on=['date','state'], how='left')

In [11]:
casedeathdf

,date,state,cases_new,cases_import,cases_recovered,cases_active,cases_cluster,cases_unvax,cases_pvax,cases_fvax,...,cases_80,deaths_new,deaths_bid,deaths_new_dod,deaths_bid_dod,deaths_unvax,deaths_pvax,deaths_fvax,deaths_boost,deaths_tat
0,2020-01-25,Johor,4,4,0,4,0,4,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-25,Kedah,0,0,0,0,0,0,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-25,Kelantan,0,0,0,0,0,0,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-25,Melaka,0,0,0,0,0,0,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-25,Negeri Sembilan,0,0,0,0,0,0,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15371,2022-09-11,Selangor,268,0,771,5556,0,35,0,47,...,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15372,2022-09-11,Terengganu,26,0,27,428,0,7,0,11,...,5,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
15373,2022-09-11,W.P. Kuala Lumpur,328,0,479,4501,0,24,1,31,...,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15374,2022-09-11,W.P. Labuan,2,0,11,41,0,0,1,0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15375,2022-09-11,W.P. Putrajaya,43,0,27,476,0,2,0,14,...,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
coviddf = pd.merge(casedeathdf,vaxdf, on=['date','state'], how='left')

In [13]:
coviddf

,date,state,cases_new,cases_import,cases_recovered,cases_active,cases_cluster,cases_unvax,cases_pvax,cases_fvax,...,sinopharm2,sinopharm3,sinopharm4,cansino,cansino3,cansino4,pending1,pending2,pending3,pending4
0,2020-01-25,Johor,4,4,0,4,0,4,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-25,Kedah,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-25,Kelantan,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-25,Melaka,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-25,Negeri Sembilan,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15371,2022-09-11,Selangor,268,0,771,5556,0,35,0,47,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15372,2022-09-11,Terengganu,26,0,27,428,0,7,0,11,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15373,2022-09-11,W.P. Kuala Lumpur,328,0,479,4501,0,24,1,31,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15374,2022-09-11,W.P. Labuan,2,0,11,41,0,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15375,2022-09-11,W.P. Putrajaya,43,0,27,476,0,2,0,14,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
coviddf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15376 entries, 0 to 15375
Data columns (total 83 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  15376 non-null  object
 1   state                 15376 non-null  object
 2   cases_new             15376 non-null  int64
 3   cases_import          15376 non-null  int64
 4   cases_recovered       15376 non-null  int64
 5   cases_active          15376 non-null  int64
 6   cases_cluster         15376 non-null  int64
 7   cases_unvax           15376 non-null  int64
 8   cases_pvax            15376 non-null  int64
 9   cases_fvax            15376 non-null  int64
 10  cases_boost           15376 non-null  int64
 11  cases_child           15376 non-null  int64
 12  cases_adolescent      15376 non-null  int64
 13  cases_adult           15376 non-null  int64
 14  cases_elderly         15376 non-null  int64
 15  cases_0_4             15376 non-null  int64
 16  cases_5_11            15376 non-null  int64
 17  cases_12_17           15376 non-null  int64
 18  cases_18_29           15376 non-null  int64
 19  cases_30_39           15376 non-null  int64
 20  cases_40_49           15376 non-null  int64
 21  cases_50_59           15376 non-null  int64
 22  cases_60_69           15376 non-null  int64
 23  cases_70_79           15376 non-null  int64
 24  cases_80              15376 non-null  int64
 25  deaths_new            14544 non-null  float64
 26  deaths_bid            14544 non-null  float64
 27  deaths_new_dod        14544 non-null  float64
 28  deaths_bid_dod        14544 non-null  float64
 29  deaths_unvax          14544 non-null  float64
 30  deaths_pvax           14544 non-null  float64
 31  deaths_fvax           14544 non-null  float64
 32  deaths_boost          14544 non-null  float64
 33  deaths_tat            14544 non-null  float64
 34  daily_partial         9040 non-null   float64
 35  daily_full            9040 non-null   float64
 36  daily_booster         9040 non-null   float64
 37  daily_booster2        9040 non-null   float64
 38  daily                 9040 non-null   float64
 39  daily_partial_adol    9040 non-null   float64
 40  daily_full_adol       9040 non-null   float64
 41  daily_booster_adol    9040 non-null   float64
 42  daily_booster2_adol   9040 non-null   float64
 43  daily_partial_child   9040 non-null   float64
 44  daily_full_child      9040 non-null   float64
 45  daily_booster_child   9040 non-null   float64
 46  daily_booster2_child  9040 non-null   float64
 47  cumul_partial         9040 non-null   float64
 48  cumul_full            9040 non-null   float64
 49  cumul_booster         9040 non-null   float64
 50  cumul_booster2        9040 non-null   float64
 51  cumul                 9040 non-null   float64
 52  cumul_partial_adol    9040 non-null   float64
 53  cumul_full_adol       9040 non-null   float64
 54  cumul_booster_adol    9040 non-null   float64
 55  cumul_booster2_adol   9040 non-null   float64
 56  cumul_partial_child   9040 non-null   float64
 57  cumul_full_child      9040 non-null   float64
 58  cumul_booster_child   9040 non-null   float64
 59  cumul_booster2_child  9040 non-null   float64
 60  pfizer1               9040 non-null   float64
 61  pfizer2               9040 non-null   float64
 62  pfizer3               9040 non-null   float64
 63  pfizer4               9040 non-null   float64
 64  sinovac1              9040 non-null   float64
 65  sinovac2              9040 non-null   float64
 66  sinovac3              9040 non-null   float64
 67  sinovac4              9040 non-null   float64
 68  astra1                9040 non-null   float64
 69  astra2                9040 non-null   float64
 70  astra3                9040 non-null   float64
 71  astra4                9040 non-null   float64
 72  sinopharm1            9040 non-null   float64
 73  sinopharm2            9040 non-null   float64
 74  sinopharm3            9040 non-null   float64
 75  sinopharm4            9040 non-null   float64
 76  cansino               9040 non-null   float64
 77  cansino3              9040 non-null   float64
 78  cansino4              9040 non-null   float64
 79  pending1              9040 non-null   float64
 80  pending2              9040 non-null   float64
 81  pending3              9040 non-null   float64
 82  pending4              9040 non-null   float64
dtypes: float64(58), int64(23), object(2)
memory usage: 9.9+ MB

In [15]:
# Number of missing values in each column in the dataframe
casedeathdf.isnull().sum()

date                  0
state                 0
cases_new             0
cases_import          0
cases_recovered       0
cases_active          0
cases_cluster         0
cases_unvax           0
cases_pvax            0
cases_fvax            0
cases_boost           0
cases_child           0
cases_adolescent      0
cases_adult           0
cases_elderly         0
cases_0_4             0
cases_5_11            0
cases_12_17           0
cases_18_29           0
cases_30_39           0
cases_40_49           0
cases_50_59           0
cases_60_69           0
cases_70_79           0
cases_80              0
deaths_new          832
deaths_bid          832
deaths_new_dod      832
deaths_bid_dod      832
deaths_unvax        832
deaths_pvax         832
deaths_fvax         832
deaths_boost        832
deaths_tat          832
dtype: int64

In [16]:
coviddf.fillna(0, inplace = True)

In [17]:
coviddf.isnull().sum()

date               0
state              0
cases_new          0
cases_import       0
cases_recovered    0
                  ..
cansino4           0
pending1           0
pending2           0
pending3           0
pending4           0
Length: 83, dtype: int64

### Drop column that may not provide any information gain

In [ ]:
#Drop these field
# 3   cases_import      15376 non-null  int64 
# 4   cases_recovered   15376 non-null  int64 
# 5   cases_active      15376 non-null  int64 
# 6   cases_cluster     15376 non-null  int64 
# 7   cases_unvax       15376 non-null  int64 
# 8   cases_pvax        15376 non-null  int64 
# 9   cases_fvax        15376 non-null  int64 
# 10  cases_boost       15376 non-null  int64 
# 11  cases_child       15376 non-null  int64 
# 12  cases_adolescent  15376 non-null  int64 
# 13  cases_adult       15376 non-null  int64 
# 14  cases_elderly     15376 non-null  int64
#coviddf.drop(['cases_import', 'cases_recovered', 'cases_active', 'cases_cluster', 'cases_unvax', 
#              'cases_pvax','cases_fvax', 'cases_boost', 'cases_child','cases_adolescent','cases_adult', 'cases_elderly' ], axis = 1, inplace=True)